*{
    background-color: rgb(162, 221, 162);
    color: white;
    /* padding: 0px;
    margin: 0px; */
}

.navbar{
    background-color: red;
    border-radius: 30px;
}
.bangladesh{
    text-align: center;
    background-color: red;
    padding: 15px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style-type: none;
    margin: 15px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
}
.navbar li a:hover{
    color: black;
}
.search{
    float: right;
    color: black;
    padding: 12px 75px;
}
.navbar input{
    border: 2px solid white;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}
.bangla,p,h3,b,li{
    color: black;
}

.prb{
    color: black;
}
 
.small{
    text-align: center;
}
.footer{
    color: red;
}
footer a{
    color: red;
    text-decoration: none;
}